h1{
    color: blueviolet;
    background-color: black;
    border-radius: 9px;
    text-align: center;

}
ul{
    color: green;
    background-color: blueviolet;
    border-radius: 9px;
    text-align: center 30;
    margin: 0%;
}